{% extends "base.html" %}
{% load wagtailcore_tags wagtailbase_tags %}

{% block meta_title %}{{ self.title }}{% endblock %}

{% block map %}
{% if self.slug == "contact" %}
<div class="iframe-container">
	<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2482.920423781268!2d-0.11818219999997519!3d51.51467590000002!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x487604cab209c1b5%3A0x1f0ecce117197003!2sVirginia+Woolf+Building%2C+King&#39;s+College+London!5e0!3m2!1sen!2suk!4v1442318756801" width="1920" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>
{% endif %}
{% endblock %}

{% block title %}{{ self.title }}{% endblock %}

{% block main_menu %}
{% get_site_root as site_root %}
{% main_menu root=site_root current_page=self %}
{% endblock %}

{% block main %}{{ self.content | richtext }}{% endblock %}

{% block local_menu %}
{% local_menu current_page=self %}
{% endblock %}

{% block latest_blog_post %}
{% latest_blog_post %}
{% endblock %}
