/* Printed Output Filters */

.table-filters li {
	width: 10%;
	margin: 0;
}

::-webkit-input-placeholder {
	color: $primary_color;
	font-style: italic;
}

:-moz-placeholder { /* Firefox 18- */
	color: $primary_color;
	font-style: italic;
}

::-moz-placeholder {  /* Firefox 19+ */
	color: $primary_color;
	font-style: italic;
}

:-ms-input-placeholder {
	color: $primary_color;
	font-style: italic;
}

.dropme {
	border: 1px solid #ccc;
	font-size: .875rem;
	background: #fff;
}

.dropme a {
	padding: .38125rem;
}

.dropme a i {
	font-size: .75rem;
	padding-top: .375rem;
}

.range div {
	padding-left: 0;
	padding-right: 0;
}
.range input,
.range button {
	margin-bottom: 0;
}

.range button {
	margin-top: .5rem;
}

#search-filters {
	border-bottom: 1px solid $primary_color;
	margin-bottom: 1rem;
}

.table-filters {
	margin-bottom: 0;
}

.manage span.label {
	font-size: 1rem;
}