/* Global */

// King's Secondary font Bureau Grotesk 37
@font-face {
	font-family: 'bureaugrotesque-threesevenRg';
	src: url('bureaugrotesk37-webfont.eot');
	src: url('bureaugrotesk37-webfont.eot?#iefix') format('embedded-opentype'),
		 url('bureaugrotesk37-webfont.woff2') format('woff2'),
		 url('bureaugrotesk37-webfont.woff') format('woff'),
		 url('bureaugrotesk37-webfont.ttf') format('truetype'),
		 url('bureaugrotesk37-webfont.svg#bureaugrotesque-threesevenRg') format('svg');
	font-weight: normal;
	font-style: normal;
}

html {
	height: 100%;
}

body {
	background-color: $body-bg;
	height: 100%;
}

.wrapper {
	margin: 0 auto;
	max-width: 1200px;
}

.shades-eighty {
	background-color: scale-color($secondary-color, $lightness: 85%);
}

.iframe-container {
	position: relative;
    padding-bottom: 15%;
    padding-top: 35px;
    height: 0;
    overflow: hidden;
}

.iframe-container iframe {
	position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Headings */

h1 {
	font-family: 'kings-caslon-display', serif; // Via TypeKit
	color: $midnight-blue;
}

/* Header */

.header-section {
	// @include grid-row();
	position: relative;
	min-height: 240px;
	padding-top: 2rem;
	background: url('../../images/header.svg');

	.header-logo {
		width: rem-calc(196px);
		height: auto;
		padding-left: rem-calc(14px);
		display: block;
	}

	h1 {
		text-align: right;
		padding-right: rem-calc(16px);
		margin-top: rem-calc(120px);
	}

	@media #{$small-only} {
		h1 {
			margin-top: 0;
		}
	}

	@media #{$medium-only} {
		h1 {
			margin-top: 0;
		}
	}
}

/* Navigation */

.main-navigation-container {

	.top-bar {
		ul {
			li.active {
				a {
					background-color: darken( $topbar-bg-color, 5%) !important;
				}
			}
		}

		.top-bar-section {
			.main-navigation {
				@extend left;
			}
		}
	}

	.top-bar.primary.expanded {
		li:first-child {
			a {
				margin-left: 0 !important;
			}
			a:after {
				box-shadow: 0 !important;
			}
		}
		.toggle-topbar.menu-icon {
			a {
				color: #fff;
			}
		}
	}
}

/* Subnavigation */

.sub-nav li {
	list-style: none;
	margin-left: .5rem;
}

.sub-nav li:before {
	content: "/ ";
}

/* Home specific */

.home-box-content .columns {
	margin-left: 0 !important;
	margin-right: 0 !important;
}

.superimage img {
	width: 100%;
}

.home section.content-section {
	display: none;
}

/* Main section */

section.content-section {
	@include grid-row();
	background-color: #fff;
	padding-left: rem-calc(16px);
	padding-right: rem-calc(16px);

	#messages {
		@include grid-sizing(12, 12, 12);
		list-style-type: none;
		margin-left: 0;
		margin-bottom: 0;
		margin-top: rem-calc(20px);

		li {
			@include alert();
			list-style-type: none;

			 &.error {
				@include alert-style(#a54836);
			 }
		}
	}

	main {
		@include grid-sizing(12, 12, 8);
		background-color: #fff;
		margin-top: rem-calc(20px);
		padding-left: 0 !important;
		padding-right: 0 !important;
	}

	main.full-width {
		@include grid-sizing(12, 12, 12);
		float: none;
		position: relative;
	}

	main {

		h1 {
			font-size: rem-calc(36px);
			margin: rem-calc(5px) 0;
		}

		h1.home-page-title {
			margin: 20px 0;
		}

		h2 {
			font-size: rem-calc(24px);
			margin-bottom: rem-calc(20px);
		}

		h5 {
			font-size: rem-calc(18px);
		}

		img {
			display:block;
		}

		img.richtext-image.left {
			margin-right: rem-calc(20px);
		}

		img.richtext-image.right {
			margin-left: rem-calc(20px);
		}

		.attachments {
			@include block-grid(3);
		}
	}

	.sidebar {
		@include grid-sizing(12, 12, 4);

		aside {
			margin: rem-calc(20px) 0;
			background-color: #f5f5f5;
			padding: rem-calc(15px);
			border: 1px solid #ccc;
		}

		aside:first-child {
			margin-top: rem-calc(20px);
		}

		aside.twitter-feed {
			ul {
				margin-left: 0;
			}
			li {
				margin-left: 0;
				margin-bottom: rem-calc(20px);
				list-style-type: none;
				font-size: rem-calc(14px);
			}
			li:last-child {
				margin-bottom: 0;
				text-align: center;
				a.button {
					margin-bottom: 0;
				}
			}
		}
	}
}

.image-caption {
	position: relative;
	.caption {
		position: absolute;
		bottom: 0;
		background-color: rgba(255, 255, 255, .7);
		padding: rem-calc(32px) rem-calc(16px) rem-calc(16px);
		display: block;
		font-size: rem-calc(14px);

		a {
			color: darken(#fff, 10%);
		}
	}
}

.thumb {
	margin-right: rem-calc(16px);
	padding: 1.5%;
	border: 1px solid darken($gray-subtle, 10%);
	position: relative;

	.caption {
		position: absolute;
		top: 0;
		width: 97%;
		height: 50%;
		background: rgba(255, 255, 255, .8);
		padding: rem-calc(16px);
		a {
			display: block;
		}
	}
}

/* Blog */

.posts li {
	border-bottom: 1px solid scale-color($secondary-color, $lightness: 50%);
	margin: 1rem 0 .5rem;
	display: block;
	clear: both;
	overflow: hidden;
}

h2.posttitle {
	margin-bottom: .25rem !important;
}

.posts p.byline {
	font-size: rem-calc(14px);
	font-style: italic;
}

.byline a:before {
	content: "\f007 ";
	font-family: 'FontAwesome';
	font-style: normal;
	color: scale-color($tertiary-color, $lightness: 30%);
}

/* Search */

.main-navigation-container {
	.search-box-text {
		width: 200px;
	}
	.search-button-container {
		.search-button {
			padding: rem-calc(6px) rem-calc(10px) !important;
			background: transparent;
		}
	}
}

main {
	.search-box-text {
		width: 400px;
	}
	.search-button-container {
		padding-left: 0;

		.search-button {
			height: 37px;
			padding: 10px !important;
		}
	}

	.search-box:after {
		clear: both;
		content: " ";
		display: block;
	}
}

.search-box {
	@include grid-row($behavior: collapse);

	.search-box-text {
		float: left;
	}

	.search-button-container {
		float: left;

		.search-button {
			margin-top: 0;
			padding: 0;


			&:hover {
				color: #fff;
			}

			i {
				color: #fff;
				font-size: 1rem;
			}
		}
	}
}

/* Buttons */

.button,
button {
	background-color: $button-background-color;
}

.button:hover,
button:hover {
	background-color: $button-background-hover-color;
}

/* Footer */

.footer-section {
	// @include grid-row();
	background-color: scale-color($tertiary-color, $lightness: 80%);
	border-top: 1px solid $gray-subtle;
	padding-top: 1rem;
	padding-bottom: 1rem;

	p,
	ul {
		font-size: rem-calc(14px);
	}

	.narrow-footer-column {
		@include grid-sizing(12, 6, 2);
	}

	.wide-footer-column {
		@include grid-sizing(12, 12, 6);
	}
}

.footer-logo img {
	max-width: 120px;
}