.header-section {
  @include grid-row();
  position: relative;
  height: 240px;
  background-color:#fff;
  background-size:cover;
  background-repeat:no-repeat;
  background-image:url(../../images/banner.jpg);

  @media #{$small-only} {
    height: 180px;
    background-size: cover;
  }

  .header-logo {
    width: rem-calc(120px);
    height: rem-calc(240px);
    padding-top:rem-calc(30px);
    padding-left: rem-calc(20px);
    padding-right: rem-calc(20px);

    @media #{$medium-up} {
      background-image:url(../../images/logo-bg.png);

    }

    @media #{$small-only} {
      margin-top:rem-calc(10px) !important;
      margin-left: auto;
      margin-right: auto;
      height:120px;
      padding-top:0;
    }

    a.logo-home {
      height:180px;
      width:100%;
    }
    .logo {
      height:180px;
      width:100%;
      vertical-align:middle;
      display:block;

      @media #{$medium-only} {
        margin-left:0;
      }
      @media #{$small-only} {
        height: 100px;
        margin:0 auto;
      }
    }

  }

  .strapline {
    @media #{$small-only} {
      display:block;
      margin:0 auto;
      text-align:center;
      p {
        margin:0px 0;
        text-transform: uppercase;
      }
    }
    @media #{$medium-up} {
      position:absolute;
      // background-color:#fff;
      // border:1px #ccc solid;
      // opacity:0.7;
      bottom:30px;
      left:160px;
      p {
        font-size: rem-calc(20px);
        margin:0;
        color:#000;
        padding: rem-calc(15px);
        text-transform: uppercase;
      }
    }
  }

}
