section.content-section {
  @include grid-row();
  background-color:#fff;

  #messages {
    @include grid-sizing(12, 12, 12);
    list-style-type: none;
    margin-left: 0;
    margin-bottom: 0;
    margin-top: rem-calc(20px);


    li {
      @include alert();
      list-style-type: none;


       &.error {
        @include alert-style(#a54836);
       }
    }
  }

  main {
    @include grid-sizing(12, 12, 8);
    background-color:#fff;
    opacity:0.8;
    margin-top: rem-calc(20px);
  }

  main.full-width {
    @include grid-sizing(12, 12, 12);
  }

  main {

    h1 {
      font-size:rem-calc(36px);
      margin: rem-calc(5px) 0;
    }

    h1.home-page-title {
      margin:20px 0;
    }

    h2 {
      font-size: rem-calc(24px);
      margin-bottom: rem-calc(20px);
    }

    h5 {
      font-size:rem-calc(18px);
    }

    img {
      display:block;
      margin-bottom:1.25rem;
    }

    img.richtext-image.left {
      margin-right:rem-calc(20px);
    }

    img.richtext-image.right {
      margin-left: rem-calc(20px);
    }

    .image-caption {
      position: relative;
      img {
        margin-bottom:0;
        border:1px solid #ccc;
      }
      .caption {
        position: absolute;
        bottom: 0;
        right: 0;
        left: 0;
        margin-bottom: 0;
        background-color:$primary-color;
        opacity:0.7;
        color:#fff;
        padding:rem-calc(15px);
        display:block;
        background-color:#333;
        font-size: rem-calc(14px);

        a {
          color: darken(#fff,10%);
        }
      }
    }

    .attachments {
      @include block-grid(3);
    }
  }

  .sidebar {
    @include grid-sizing(12, 12, 4);

    aside {
      margin:rem-calc(20px) 0;
      background-color:#f5f5f5;
      padding: rem-calc(15px);
      border:1px solid #ccc;
    }

    aside:first-child {
      margin-top:rem-calc(20px);
    }

    aside.twitter-feed {
      ul {
        margin-left:0;
      }
      li {
        margin-left:0;
        margin-bottom: rem-calc(20px);
        list-style-type:none;
        font-size:rem-calc(14px);
      }
      li:last-child {
        margin-bottom:0;
        text-align:center;
        a.button {
          margin-bottom:0;
        }
      }
    }
  }
}
