// Search results

ul.search-results{
  @extend ul.no-bullet;

  li {
    list-style-type:none;
    border-bottom:1px solid #ddd;
    margin-bottom:rem-calc(20px);
    clear:both;
    overflow:hidden;
  }
}