.main-navigation-container {
  .search-box-text {
    width: 200px;
  }
  .search-button-container {
    .search-button {
      padding: rem-calc(6px) rem-calc(10px) !important;
      background: transparent;
    }
  }

}

main {
  .search-box-text {
    width:400px;
  }
  .search-button-container {
    padding-left: 0;

    .search-button {
      height:37px;
      padding: 10px !important;
    }
  }

  .search-box:after {
    clear: both;
    content: " ";
    display:block;
  }
}
.search-box {
  @include grid-row($behavior: collapse);

  .search-box-text {
    float: left;
  }

  .search-button-container {
    float:left;

    .search-button {
      margin-top: 0;
      padding: 0;


      &:hover {
        color:#fff;
      }

      i {
        text-shadow:1px 1px 0 rgba(0,0,0, 0.7);
        color:#fff;
        font-size: 1rem;
      }
    }
  }
}