{% load staticfiles wagtailcore_tags %}

<div class="narrow-footer-column">
  <ul class="footer-links">
    <li><h4>Find out more</h4></li>
    <li><a href="{% slugurl 'image-credits' %}">Image credits</a></li>
    <li><a href="{% slugurl 'about-project' %}">About the project</a></li>
    <li><a href="{% slugurl 'contact' %}">Contact Us</a></li>
    <li><a href="{% slugurl 'privacy' %}">Privacy</a></li>
  </ul>
</div>

<div class="narrow-footer-column">
  <ul class="footer-links">
    <li><h4>Social media</h4></li>
    <li><a href="http://www.twitter.com/moidigital"><i class="fa fa-twitter-square"></i> Twitter</a></li>
  </ul>
</div>

<div class="narrow-footer-column">
  <ul class="footer-links">
    <li><h4>Funded by</h4></li>
    <li class="logo ahrc">
      <a href="#">
        Arts and Humanities Research Council
      </a>
    </li>
  </ul>
</div>

<div class="wide-footer-column">
  <ul class="footer-links">
    <li><h4>Project partners</h4></li>
    <li class="logo ies">
      <a href="#">
      Institute of English Studies
      </a>
    </li>
    <li class="logo ddh left">
      <a href="//www.kcl.ac.uk/ddh/">
        Department of Digital Humanities, King's College London
      </a>
    </li>
    <li class="logo na left">
      <a href="//http://www.nationalarchives.gov.uk/">
        National Archives
      </a>
    </li>
  </ul>
</div>
