{% extends "wagtailbase/includes/blog_post_body.html" %}

{% if post %}
{% load staticfiles wagtailcore_tags wagtailimages_tags wagtailbase_tags %}

{% block blog_post_title %}
<h2 class="posttitle">
    <a href="{% pageurl post %}">{{ post.title }}</a>
</h2>
{% endblock %}

{% block blog_post_content %}
<section class="postcontent">
    {% comment %}{{ post.content|richtext|truncatewords_html:75 }}{% endcomment %}
    <!-- TODO: Fix this, because it doesn't work -->
    {% with post.attachments.first as attachment %}
    {% if attachment.image %}
    {% image attachment.image fill-80x80 as attachmentimagedata %}
    <img src="{{ attachmentimagedata.url }}" alt="{{ attachmentimagedata.alt }}
    ">
    {% endif %}
    {% endwith %}
</section>
{% endblock %}

{% endif %}
