{% extends "wagtailbase/base.html" %}
{% load staticfiles wagtailcore_tags wagtailimages_tags wagtailbase_tags %}

{% block body_class %}home{% endblock %}

{% block meta_title %}King's Digital Lab{% endblock %}

{% block overtitle %}
{% endblock %}

{% block main %}
<section id="mission" class="bg-shade-one">
	<div class="row">
		<div class="large-12 columns">
			<h1>Mission</h1>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
		</div>
	</div>
</section>
<section id="staff" class="bg-shade-two">
	<div class="row">
		<div class="large-12 columns">
			<h1>Staff</h1>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
			{% block staff_page_children %}
			{% include "resources/includes/staff_page_children.html" with page=staff %}
			{% endblock %}
		</div>
	</div>
</section>
<section id="contact" class="bg-shade-three">
	<div class="row">
		<div class="large-12 columns">
			<h1>Get in touch</h1>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
		</div>
	</div>
</section>
{% block attachments %}
{% include "wagtailbase/includes/attachments.html" with attachments=self.attachments.all|slice:"1:" title="Attachments" class="attachments" %}
{% endblock %}

{% endblock %}

{% block side_bar %}
{% endblock %}
